.no-select {
  pointer-events: none;
  user-select: none;
}

.break {
  word-break: break-all;
}

.trans-width {
  transition: width 1s linear;
}

.hidden {
  display: none !important;
}

input[type=file] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

#box {
  height: 300px;
}
