html(class="h-full no-js" lang="")
  head
    meta(charset="utf-8")
    title
      | File upload
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.scss")

  body(class="min-h-screen flex items-center justify-center py-40 bg-gray-200")
    div(class="max-w-md w-full")
      div
        h2(class="mt-6 text-center text-3xl leading-9 font-mono text-gray-900")
          | Sign in with
      div(class="mt-10 flex justify-center")
